# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONMENTS
# =========================
env/
venv/
rs_env/
.conda/
.venv/

# =========================
# DATA (DVC TRACKED)
# =========================
data/*
!data/*.dvc

# =========================
# EMBEDDINGS (DVC TRACKED)
# =========================
embeddings/*
!embeddings/*.dvc

# =========================
# MODELS (DVC TRACKED)
# =========================
models/*
!models/*.dvc

# =========================
# OUTPUTS (DVC / GENERATED)
# =========================
outputs/*
!outputs/.gitkeep

# =========================
# MLFLOW
# =========================
mlflow/*
!mlflow/.gitkeep

# =========================
# LOGS
# =========================
*.log

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR
# =========================
.vscode/
.idea/

# =========================
# DVC CACHE (LOCAL)
# =========================
.dvc/cache/
dvc_storage/

# =========================
# MLFLOW DB
# =========================
mlflow.db