# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ENVIRONMENTS
# =========================
env/
venv/
rs_env/
.conda/
.venv/

# =========================
# DATA (DVC TRACKED)
# =========================
data/*
!data/*.dvc

# =========================
# EMBEDDINGS (DVC TRACKED)
# =========================
embeddings/*
!embeddings/*.dvc

# =========================
# MODELS (DVC TRACKED)
# =========================
models/*
!models/*.dvc

# =========================
# MLFLOW
# =========================
mlflow/*
!mlflow/.gitkeep

# =========================
# OUTPUTS
# =========================
outputs/*
!outputs/.gitkeep
outputs/*
!outputs/apriori_rules.csv
!outputs/ab_comparison_results.csv
!outputs/cold_start_delta.csv
!outputs/ab_comparison_chart.png

# =========================
# LOGS
# =========================
*.log

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR
# =========================
.vscode/
.idea/

# =========================
# DVC CACHE (OPTIONAL LOCAL)
# =========================
.dvc/cache/
dvc_storage/

mlflow.db