fastapi==0.135.1
uvicorn[standard]==0.42.0
pydantic==2.12.5

# Core ML
numpy==1.26.4
scipy==1.15.2
scikit-learn==1.7.2
pandas==2.3.3
implicit==0.7.2
dill==0.4.1
scikit-surprise==1.1.4
lightgbm==4.7.0

# Deep Learning
torch==2.2.2

# NLP / Search
sentence-transformers==5.3.0
transformers==4.41.2
rank-bm25==0.2.2

# Data / Viz / Pipeline deps
pyarrow==17.0.0
matplotlib==3.10.3
seaborn==0.13.2
wordcloud==1.9.4
requests==2.32.3
tqdm==4.67.1

# API utils
python-multipart==0.0.22
httpx==0.28.1

# Vector DB
qdrant-client==1.19.0

# LLM & Cache
google-generativeai==0.8.4
redis==5.2.1

mlxtend==0.23.4
mlflow-skinny==3.10.1
dvc==3.67.1
pyyaml==6.0.2